---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ProjectCard from "../components/ProjectCard.astro";

const projects = [
  {
    title: "EventFlex",
    description:
      "Sistema de gestión de eventos que permite crear, organizar y controlar eventos de manera eficiente. Incluye un panel para organizar y seguir tus eventos, un  panel de notas, sistema de invitaciones y integracion con Google Maps.",
    image: "/images/eventflex.png",
    technologies: [
      { name: "Astro", icon: "https://skillicons.dev/icons?i=astro" },
      { name: "CSS", icon: "https://skillicons.dev/icons?i=css" },
      { name: "TypeScript", icon: "https://skillicons.dev/icons?i=ts" },
      { name: "React", icon: "https://skillicons.dev/icons?i=react" },
      { name: "MongoDB", icon: "https://skillicons.dev/icons?i=mongodb" },
    ],
    repoUrl: "",
    demoUrl: "",
    inDevelopment: true,
  },
  {
    title: "UpDev",
    description:
      "Demo de lo que seria una plataforma educativa especializada en programación que ofrece una experiencia de aprendizaje interactiva y personalizada. Incluye sistema de gestión de cursos, seguimiento de progreso, recursos multimedia y ejercicios prácticos para el desarrollo de habilidades en programación.",
    image: "/images/updev.png",
    technologies: [
      { name: "HTML", icon: "https://skillicons.dev/icons?i=html" },
      { name: "CSS", icon: "https://skillicons.dev/icons?i=css" },
      { name: "JavaScript", icon: "https://skillicons.dev/icons?i=js" },
    ],
    repoUrl: "https://github.com/0re0re0/UpDev",
    demoUrl: "https://updevsite.netlify.app/",
  },
  {
    title: "SupraMarket",
    description:
      "Tienda online que ofrece una experiencia de compra intuitiva y segura. Incluye sistema de autenticación de usuarios, catálogo de productos con filtros, carrito de compras persistente y validación de formularios en tiempo real.",
    image: "/images/supramarket.png",
    technologies: [
      { name: "HTML", icon: "https://skillicons.dev/icons?i=html" },
      { name: "CSS", icon: "https://skillicons.dev/icons?i=css" },
      { name: "JavaScript", icon: "https://skillicons.dev/icons?i=js" },
    ],
    repoUrl: "https://github.com/0re0re0/SupraMarket",
    demoUrl: "https://supramarket.netlify.app/",
  },
  {
    title: "UserControl",
    description:
      "Sistema de gestión de usuarios con autenticación segura y monitoreo de actividad en tiempo real. Incluye registro con validación de datos, control de intentos de inicio de sesión, seguimiento de sesiones activas y panel administrativo para gestionar usuarios. Mantiene un registro detallado de la actividad de cada usuario.",
    image: "/images/Screenshot3.png",
    technologies: [
      { name: "HTML", icon: "https://skillicons.dev/icons?i=html" },
      { name: "CSS", icon: "https://skillicons.dev/icons?i=css" },
      { name: "JavaScript", icon: "https://skillicons.dev/icons?i=js" },
      { name: "NodeJS", icon: "https://skillicons.dev/icons?i=nodejs" },
      { name: "MongoDB", icon: "https://skillicons.dev/icons?i=mongodb" },
    ],
    repoUrl: "https://github.com/0re0re0/UserControl",
    demoUrl: "https://usercontrol.onrender.com/",
  },
];
---

<Layout title="Javier | Proyectos">
  <Header />
  <main class="projects-section">
    {
      projects.map((project) => (
        <div class="project-wrapper">
          <ProjectCard {...project} />
        </div>
      ))
    }
  </main>
</Layout>
