---
const currentPath = Astro.url.pathname;
---

<nav class="navbar">
  <ul class="nav-links">
    <li>
      <a href="/" class={currentPath === "/" ? "active" : ""}>Sobre Mi</a>
    </li>
    <li>
      <a href="/projects" class={currentPath === "/projects" ? "active" : ""}
        >Proyectos
      </a>
    </li>
  </ul>
</nav>
