<section id="hero" class="hero-section">
  <div class="hero-content">
    <div class="console-title">
      <h2 class="typing-effect">&#123;Javier&#125;<br />Full-Stack</h2>
      <h1 class="typing-effect-delayed">Web<br />Developer</h1>
    </div>
    <p class="mail">
      <i class="fas fa-envelope" aria-hidden="true"></i>
      <a href="mailto:Cardenas97vga@gmail.com">Cardenas97vga@gmail.com</a>
    </p>
    <p class="location">
      <i class="fas fa-globe-europe"></i>
      Cartagena, Murcia - España
    </p>
    <p class="description">
      Me encanta aprender y adaptarme a nuevas tecnologías para crear
      aplicaciones funcionales y atractivas.<br />
      Tengo un gran interés en el diseño UX/UI, asegurando que cada proyecto ofrezca
      una experiencia de usuario intuitiva y eficiente.
    </p>
    <div class="social-links">
      <a href="https://github.com/0re0re0" class="social-button github">
        <i class="fab fa-github"></i>
        Github
      </a>
      <a
        href="https://linkedin.com/in/javiercardenasperdomo97"
        class="social-button linkedin"
      >
        <i class="fab fa-linkedin"></i>
        LinkedIn
      </a>
      <a
        href="/download/CV  Javier Cardenas Perdomo.pdf"
        download="CV_Javier_Cardenas"
        class="btn-descargar"
      >
        <i class="fas fa-download"></i>
        Descargar CV
      </a>
    </div>
  </div>
  <div class="hero-image">
    <img src="/images/Foto Javier.jpg" alt="Profile Image" />
  </div>
</section>
