---
const technologies = [
  { name: "HTML", icon: "fab fa-html5" },
  { name: "CSS", icon: "fab fa-css3-alt" },
  { name: "JS", icon: "fab fa-js" },
  { name: "Node.js", icon: "fab fa-node-js" },
  { name: "NPM", icon: "fab fa-npm" },
];

const tools = [
  { name: "Git", icon: "fab fa-git-alt" },
  { name: "GitHub", icon: "fab fa-github" },
  { name: "Docker", icon: "fab fa-docker" },
  { name: "MongoDB", icon: "fas fa-database" },
];
---

<section id="stack" class="stack-section">
  <h2 class="section-title">
    <i class="fas fa-layer-group"></i>
    Tech Skills
  </h2>
  <div class="tech-categories">
    <div class="tech-row">
      <div class="category">
        <h3>Tecnologías</h3>
        <div class="tech-grid">
          {
            technologies.map((tech) => (
              <div class="tech-item">
                <i class={tech.icon} />
                {tech.name}
              </div>
            ))
          }
        </div>
      </div>
      <div class="category">
        <h3>Herramientas</h3>
        <div class="tech-grid">
          {
            tools.map((tool) => (
              <div class="tech-item">
                <i class={tool.icon} />
                {tool.name}
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
