.proyects-title {
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.proyects__list {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}
.filters-title {
  font-size: 14px;
  margin-bottom: 1rem;

  font-weight: 600;
}
.filters {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.filters__tag {
  background-color: rgba(var(--color-button-accent), 0.2);
  border: 1px solid rgba(var(--color), 0.2);
  padding: 0.4rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in;

  display: flex;
  align-items: center;
  gap: 0.3em;
  color: rgba(var(--color-text-base), 1);
}

@media (hover: hover) {
  .filters__tag:hover {
    background-color: rgba(var(--color-button-accent), 0.3);
    border-color: rgba(var(--color), 0.4);
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .filters__tag {
    flex-grow: 0;
  }
}
